<h3><%=@job_offer.title%></h3>

<h5>Applications</h5>

<table class="table table-bordered">
	<thead>
    <tr>
      <th>Email</th>
      <th>Bio</th>
      <th>Expected Remuneration</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
